.panda-bg-info{
    background-color: #fceae8;
}
.panda-margin{
    margin-top: 20px !important;
}
.categories img{
    width: 100px;
}
.panda-bg-primary{
    background-color: blue;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    width: 120px;
}